# Decision Tree Example in Python

In [30]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler,MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_absolute_error,confusion_matrix,mean_absolute_percentage_error
from sklearn.tree import DecisionTreeClassifier

In [31]:
df = sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [32]:
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
sex              0
pclass           0
survived         0
fare             0
parch            0
sibsp            0
class            0
adult_male       0
who              0
alive            0
alone            0
dtype: int64

In [33]:
df.drop('deck',axis=1,inplace=True)

In [34]:
df.isnull().sum().sort_values(ascending=False)

age            177
embarked         2
embark_town      2
sex              0
pclass           0
survived         0
parch            0
sibsp            0
class            0
fare             0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [35]:
impute = SimpleImputer(strategy='median')
df[['age']] = impute.fit_transform(df[['age']])

impute = SimpleImputer(strategy='most_frequent')
df[['embarked','embark_town']] = impute.fit_transform(df[['embarked','embark_town']])

In [36]:
df.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

In [38]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [39]:
for col in df.columns:
    if df[col].dtype=='object'or df[col].dtype.name =='category':
        le =LabelEncoder()
        df[col]= le.fit_transform(df[col])

In [41]:
x = df.drop(['survived', 'alive'], axis=1)
y = df['survived']

x_train,x_test ,y_train,y_test = train_test_split(x,y, test_size= 0.2, random_state=42)

model = DecisionTreeClassifier(criterion='entropy',random_state=42,max_depth=7)
model.fit(x_train,y_train)
y_pre = model.predict(x_test)
print(mean_absolute_error(y_test,y_pre))
print(confusion_matrix(y_test,y_pre))
print(mean_absolute_percentage_error(y_test,y_pre))

0.18994413407821228
[[91 14]
 [20 54]]
352236842364172.94

# Use Decision Tree as a Regression Algorithm

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df = sns.load_dataset('titanic')
for col in df.columns:
    if df[col].dtype == 'object' or df[col].dtype.name == 'category':
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col].astype(str))

X = df.drop(['survived', 'alive'], axis=1)
y = df['survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = DecisionTreeRegressor(criterion='squared_error', random_state=42, max_depth=5)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(mean_absolute_error(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

0.2569362261396922
0.16152725722091388
0.33391314689635765