# Random Forest

In [33]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,MinMaxScaler,LabelEncoder
from sklearn.metrics import mean_absolute_error,mean_squared_error,confusion_matrix
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.model_selection import train_test_split

In [34]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [36]:
le = LabelEncoder()
for i in df.columns:
    if df[i].dtype =='object' or df[i].dtype.name == 'category': # type: ignore
     df[i]=  le.fit_transform(df[i])

In [37]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [38]:
x = df.drop('sex',axis=1)
y = df['sex']

x_train,x_test ,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=42)

re = RandomForestClassifier(n_estimators=4500 , random_state=42)
re.fit(x_train,y_train)
y_pre = re.predict(x_test)
from sklearn.metrics import mean_absolute_error,mean_squared_error,confusion_matrix
print(mean_absolute_error(y_test,y_pre))
print(mean_squared_error(y_test,y_pre))
print(confusion_matrix(y_test,y_pre))

0.40816326530612246
0.40816326530612246
[[ 6 13]
 [ 7 23]]

In [39]:
x = df.drop('tip',axis=1)
y = df['tip']

x_train,x_test ,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=42)

re = RandomForestRegressor(n_estimators=4500 , random_state=42)
re.fit(x_train,y_train)
y_pre = re.predict(x_test)
from sklearn.metrics import mean_absolute_error,mean_squared_error,confusion_matrix, classification_report
print(mean_absolute_error(y_test,y_pre))
print(mean_squared_error(y_test,y_pre))

0.7707204535147284
0.9431371096963144